<div class="container-fluid">

<h2 style = 'text-align: center;'>Welcome to {{title}}</h2>

<form style="text-align:center;">
  <div class = "form-group row" style = 'margin-top: 10%;'>
    <div class = "col">Origin
      <select class = "form-control" name = "oriAirport" [(ngModel)] = "oriAirport">
        <option value = "ORD"> ORD </option>
        <option value = "CDC"> CDC </option>
        <option value = "WTF"> WTF </option>
        <option value = "OMG"> OMG </option>
      </select>
   </div>
   <div class = "col">Destination
    <select class = "form-control" [(ngModel)] = "desAirport" name = "desAirport">
      <option value = "ORD"> ORD </option>
      <option value = "CDC"> CDC </option>
      <option value = "WTF"> WTF </option>
      <option value = "OMG"> OMG </option>
    </select>
  </div>
  <div class = "col">Date
    <input class = "form-control" id = "date" type = "date" [(ngModel)] = "date" name = "date">
  </div>
   <div class = "col">Number of tickets
    <input class = "form-control" id = "travelers" type = "number" [(ngModel)] = "travelers" name = "travelers">
  </div>
  </div>
 </form>

  <br>

 <button type="button" class="btn btn-secondary btn-lg btn-block" (click) = "travelCost()"> Submit </button>

 <br>

 <p style="text-align:center; color: black; font-size: 30px;"> From <span style="color: brown;">{{oriAirport}}</span> to <span style="color: brown;">{{desAirport}}</span>, take off at From <span style="color: brown;">{{date}}</span> , with <span style = "color: brown;">{{travelers}}</span> people. Your total cost is <span class="font-weight-bold" style="color : brown">$ {{cost}}</span>. </p>


 </div>
